#----------------------------------#
#-----OBSIDIAN VAULT GITIGNORE-----#
#----------------------------------#

# Ignore all by default
*
!/.gitignore

# Store all obsidian settings
!/.obsidian
!/.obsidian/**

# Grab all data except attachments
!/_data
!/_data/**
/_data/Attachments

# Grab readme file
!/Readme.md
